@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    background-color:#f6f8fc ;
}

.content{
    height: 100vh;
    padding: 1rem;
    background-color: #FFF;
    height: 100vh;

}

.buttonsLoad {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin: 1rem 1rem;
    padding: 1rem 1rem;
}
.loadMore{
    border-radius: .5rem;
    color: white;
    background-color: #FB5643;
    border-color: antiquewhite;
    padding: .625rem;
}

.searchPokemon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.findMessage{
    display: flex;
    align-items: center;
    justify-content: center;
}
#pokeNotFind {
    display: none;
}
#pokemonNameSearch{
    padding: 0.2rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    margin: .5rem;
    padding: 1rem;
    background-color: hsla(0, 0%, 0%, 0.445);
    color: white;
}
#pokemonNameSearch:hover{
    background-color: hsla(0, 0%, 0%, 0.226);
}
.searchButton {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    margin: 1rem;
    background-color: hsla(0, 0%, 0%, 0.445);
    border: 1px solid hsla(0, 0%, 0%, 0.445);
    color: white;
}

.searchButton:hover {

    background-color: hsla(0, 0%, 0%, 0.185);

}

@media screen and (min-width: 992px) {
    .content {
        max-width:992px;
        height: 100vh;
        margin:1rem auto;
    }
}

